<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulnerable App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="tabs">
            <button class="tab-button" onclick="openTab('sql-injection')">SQL Injection</button>
            <button class="tab-button" onclick="openTab('cross-site-scripting')">Cross Site Scripting</button>
            <button class="tab-button" onclick="openTab('command-injection')">Command Injection</button>
            <button class="tab-button" onclick="openTab('hardcoded-credentials')">Hardcoded Credentials</button>
            <button class="tab-button" onclick="openTab('broken-authorization')">Broken Authorization</button>
        </div>
        <div class="tab-content" id="sql-injection">
            <h2>SQL Injection</h2>
            <form id="login-form">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="tab-content" id="cross-site-scripting">
            <h2>Cross Site Scripting (XSS)</h2>
            <form action="/search" method="get">
                <div>
                    <label for="query">Search User:</label>
                    <input type="text" id="query" name="query" required>
                </div>
                <div>
                    <button type="submit">Search</button>
                </div>
            </form>
            <div id="search-results">
                {% if results %}
                    <h3>Search Results:</h3>
                    {{ results|safe }}
                {% endif %}
            </div>
        </div>
        <div class="tab-content" id="command-injection">
            <h2>Command Injection</h2>
            <form action="/ping" method="post">
                <div>
                    <label for="ip">IP Address:</label>
                    <input type="text" id="ip" name="ip" required>
                </div>
                <div>
                    <button type="submit">Ping</button>
                </div>
            </form>
            <div id="ping-results">
                {% if ping_results %}
                    <h3>Ping Results:</h3>
                    <pre>{{ ping_results }}</pre>
                {% endif %}
            </div>
        </div>
        <div class="tab-content" id="hardcoded-credentials">
            <h2>Harcoded Credentials</h2>
            <p>The repository contain harcoded credentials</p>
        </div>
        <div class="tab-content" id="broken-authorization">
            <h2>Broken Authorization</h2>
            <div id="profile-details" style="display:none;">
                <h3>Profile Details</h3>
                <p><strong>User ID:</strong> <span id="profile-user-id"></span></p>
                <p><strong>Username:</strong> <span id="profile-username"></span></p>
                <p><strong>Address:</strong> <span id="profile-address"></span></p>
                <p><strong>Phone:</strong> <span id="profile-phone"></span></p>
                <p><strong>Email:</strong> <span id="profile-email"></span></p>
                <p><strong>Hobby:</strong> <span id="profile-hobby"></span></p>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `username=${username}&password=${password}`
            });
            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('jwt', data.token);
                const userId = data.user_id;
                sessionStorage.setItem('activeTab', 'broken-authorization'); // Set active tab to 'broken-authorization'
                window.location.href = `http://localhost:8000/?id=${userId}`;
            } else {
                alert('Login failed!');
            }
        });

        async function loadProfileData(token, userId) {
            const response = await fetch(`/get_profile?token=${token}&id=${userId}`, {
                method: 'GET'
            });
            const data = await response.json();
            if (response.ok) {
                document.getElementById('profile-details').style.display = 'block';
                document.getElementById('profile-user-id').textContent = data.user_id;
                document.getElementById('profile-username').textContent = data.username;
                document.getElementById('profile-address').textContent = data.address;
                document.getElementById('profile-phone').textContent = data.phone;
                document.getElementById('profile-email').textContent = data.email;
                document.getElementById('profile-hobby').textContent = data.hobby;
            } else {
                alert(data.message || 'Failed to fetch profile!');
            }
        }

        function openTab(tabId) {
            var i, tabcontent, tabbuttons;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tabbuttons = document.getElementsByClassName("tab-button");
            for (i = 0; i < tabbuttons.length; i++) {
                tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
            }
            document.getElementById(tabId).style.display = "block";
            event.currentTarget.className += " active";
            sessionStorage.setItem("activeTab", tabId);

            if (tabId === 'broken-authorization') {
                const urlParams = new URLSearchParams(window.location.search);
                const userId = urlParams.get('id');
                const token = localStorage.getItem('jwt');
                if (token && userId) {
                    loadProfileData(token, userId);
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const userId = urlParams.get('id');
            if (userId) {
                openTab('broken-authorization');
            } else {
                var activeTab = sessionStorage.getItem("activeTab") || "sql-injection";
                openTab(activeTab);
            }
        });
    </script>
</body>
</html>
